<ion-view view-title="Question #{{qNumber}}" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear icon ion-arrow-left-c" ng-click="goBack()">
      </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    
    <div style="background-color: rgba(12, 96, 238 ,0.3); border-radius: 5px; margin: 25% auto 0 auto" class="padding">
      <div class="card" ng-class="ptorQuestionGoA" ng-click="buttonClicked('A')">
        <div class="item item-divider">
          Option A
        </div>
        <div class="item item-text-wrap" ng-class="ptorQuestionTextA">
          {{questionA.Text}}
        </div>
      </div>
    </div>
      
    <div style="background-color: rgba(12, 96, 238 ,0.3); border-radius: 5px; margin: 25% auto 0 auto" class="padding">  
      <div class="card" ng-class="ptorQuestionGoB" ng-click="buttonClicked('B')">
        <div class="item item-divider">
          Option B
        </div>
        <div class="item item-text-wrap" ng-class="ptorQuestionTextB">
          {{questionB.Text}}
        </div>
      </div>
    </div>
    
  </ion-content>
</ion-view>